/* CSS Reset */
* { 
    /* outline: 1px dotted red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    min-height: 100vh;
    max-width: 100%;
    font-family: 'Signika', sans-serif;
}

.main {
    min-height: 100vh;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
    list-style: none;
}

#try-free {
    color: blue;
}

/* Header  */
header {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid #f4f4f4;
    padding: 8px 20px;
    font-size: 20px;
    flex: auto;
}

nav {
    display: flex;
    flex: auto;
}

.left-links {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex: auto;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex: auto;
}

.account-options {
    font-size: 16px;
}